/* src/App.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.whole-body{
  display: flex;
}

.App-header,
.App-footer {
  background-color: #282c34;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 10px;
  
}

.App-header h1{
  font-size: 24px;
  display: block;
  width: 100vw;
}


.App-footer {
  padding: 10px;
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
}


.App-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: max-content;
  min-height: 40vh;
  padding: 20px;
}

.App-main {
  flex-grow: 1;
  padding: 20px;
}

.App-sidebar {
  width: 200px;
  padding: 20px;
  background-color: #f0f0f0;
}

.App-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.App-sidebar ul li {
  margin: 10px 0;
}

.App-sidebar ul li a {
  text-decoration: none;
  color: #333;
}

.App-sidebar ul li a:hover {
  text-decoration: underline;
}
footer {
  background-color: #343a40;
  color: #fff;
  padding: 15px 0;
  text-align: center;
  width: 100%;
  position: relative; /* Keep it at the bottom of the content */
  bottom: 0;
  left: 0;
}

footer p {
  margin: 0;
}
.App-footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  text-align: center;
  position: relative;
  width: 100%;
  clear: both;
  margin-top: auto;
  bottom: 0;
  left: 0;
}
