.section-content {
    width: 100%;
    text-align: left;
    padding: 10px 0;
    box-sizing: border-box;
}

.section-title {
    cursor: pointer;
    font-size: 1.5rem;
    margin: 10px 0;
    text-align: left;
}

.section-title i {
    margin-right: 10px;
}

@media (min-width: 768px) {
    .section-content {
        padding: 20px 0;
    }
}
