html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.sidebar-main {
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: width 0.3s ease, left 0.3s ease;
}

.sidebar-color {
    background-color: #282c34;
    color: white;
}

.collapsed .CDBSidebarHeader span,
.collapsed .CDBSidebarFooter div {
    display: block;
}

.sidebar-main.collapsed {
    width: 80px;
}

.right-body {
    margin-left: 240px;
    transition: margin-left 0.3s ease;
}

.collapsed+.right-body {
    margin-left: 80px;
}


@media (max-width: 768px) {
    .sidebar-main {
        width: 240px;
    }

    .sidebar-main.collapsed {
        width: 80px;
    }

    .right-body {
        margin-left: 70px;

    }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}