.taxonomy-table-container {
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ddd;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;

}

.taxonomy-table h2 {
  text-align: center;
  font-size: 1.8rem;

  font-weight: bold;
  margin-bottom: 20px;
}

.taxonomy-table {
  width: 100%;

  border-collapse: collapse;
  table-layout: auto;

  font-family: Arial, sans-serif;

}

.taxonomy-table th,
.taxonomy-table td {
  border: 1px solid #ddd;

  padding: 12px 8px;

  text-align: center;
}

.taxonomy-table th {
  background-color: #f5f5f5;

  color: #333;

  font-weight: bold;
  text-transform: uppercase;

}

.taxonomy-table tr:nth-child(even) {
  background-color: #f9f9f9;

}

.taxonomy-table tr:hover {
  background-color: #f1f1f1;

  cursor: pointer;

}

.taxonomy-table td {
  font-size: 1rem;

  color: #555;

}

perty for better support */ .taxonomy-table th {
  font-size: 1rem;

  color: #000;

}


@media (max-width: 1020px) {
  .taxonomy-table h2 {
    font-size: 1rem;

  }

  .taxonomy-table th,
  .taxonomy-table td {
    padding: 10px 5px;
    font-size: 0.9rem;

  }
}

@media (max-width: 768px) {
  .taxonomy-table h2 {
    font-size: 1rem;

  }

  .taxonomy-table th,
  .taxonomy-table td {
    padding: 10px 5px;
    font-size: 0.9rem;

  }
}

@media (max-width: 480px) {
  .taxonomy-table h2 {
    font-size: 0.8rem;

  }

  .taxonomy-table th,
  .taxonomy-table td {
    padding: 0;
    font-size: 0.4rem;

  }

  .taxonomy-table-container {
    padding: 0;
    margin: 0;

  }
}